.alert-success {
    background-color: #021b16 !important;
    color: #8de6c0 !important; 
    border: 1px solid #0d3b2e !important;
    border-radius: 15px;
    padding: 12px;
    margin: auto auto;
    margin-bottom: auto;
    bottom: 70%;
    right: 32%;
  }
  
  .alert-success .alert-heading {
    font-size: 1.5rem;
    color: #8de6c0;
    margin-top: auto;
  }
  
  .alert-success p {
    margin: 5px 0;
  }
  
  .alert-success hr {
    border: none;
    height: 1px;
    background-color: #2a5447;
    margin: 15px 0;
  }
  
  .d-flex {
    display: flex !important;
  }
  
  .justify-content-end {
    justify-content: flex-end !important;
  }
  
  .btn-outline-success {
    background-color: transparent;
    color: #8de6c0;
    border: 1px solid #8de6c0;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    /*transition: background 0.5s; */
    transition: all 0.3s ease;
  }

  .btn-outline-success:hover {
    border-color: #0d3b2e;
    color: #0d3b2e;
    background-color: rgba(13, 59, 46, 0.05); 
  }

  .warning-parent {
    position: fixed;
    bottom: -100px;
    right: 20px;
    width: 500px;
    z-index: 9999;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s ease-out;
  }
  
  .warning-parent.show {
    bottom: 20px;
    opacity: 1;
    transform: translateY(0);
  }
  
  .warning-parent.hide {
    bottom: -100px;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.3s ease-in;
  }
