.alert-success {
    background-color: #021b16 !important;
    color: #8de6c0 !important; 
    border: 1px solid #0d3b2e !important;
    border-radius: 8px;
    padding: 16px;
    margin: 20px 0;
  }
  
  .alert-success .alert-heading {
    font-size: 1.5rem;
    color: #8de6c0;
    margin-top: 0;
  }
  
  .alert-success p {
    margin: 5px 0;
  }
  
  .alert-success hr {
    border: none;
    height: 1px;
    background-color: #2a5447;
    margin: 15px 0;
  }
  
  .d-flex {
    display: flex !important;
  }
  
  .justify-content-end {
    justify-content: flex-end !important;
  }
  
  .btn-outline-success {
    background-color: transparent;
    color: #8de6c0;
    border: 1px solid #8de6c0;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    /*transition: background 0.5s; */
    transition: all 0.3s ease;
  }

  .btn-outline-success:hover {
    border-color: #0d3b2e;
    color: #0d3b2e;
    background-color: rgba(13, 59, 46, 0.05); 
  }